body {
  margin: 0 auto;
  padding: 0;
  background-image: url("/src/images/foodbg.webp");
}

.flex-column {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.flex-row {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 8px solid rgb(133, 0, 0);
}

#grabbedIngredients{
  background-image: url("/src/images/color-bg.png");
  width: 350px;
  max-width: 350px;
  max-height: 450px;
  overflow: auto;
}

#start-button{
  width: 300px;
  height: 120px;
  background-image: url("/src/images/strtbttn.png");
  border: none;
  background-color: transparent;
  margin: 0 auto;
}

#canvas {
  background-image: url("/src/images/Background-img.png");
}

